html, body {
    margin: 0px;
    padding: 0px;
    /*overflow:hidden;*/
}

.mr_10{
    margin-right:10px;
}
.navbar{
    margin-bottom: 0px;
    border-radius:0px;
}
.container {
    width: auto;
}

.slide-body{
    position:relative;
    left:0;
    overflow:hidden
}

.slide-body .inner{
    overflow:hidden;
    left:0;
    position:relative
}

.page_navbar{
    border-bottom:1px solid #e1e1e1;
    -webkit-box-shadow:0 0 3px #eee,inset 0 0 3px #fff;
    box-shadow:0 0 3px #eee,inset 0 0 3px #fff;
    background:#f9f9f7
}

.page_navbar .page-navbar-warp{
    width:97%;
    margin:0 auto;
    height:59px;
    position:relative
}
.page_navbar .page-navbar-warp .title{
    position:absolute;
    top:0;
    left:0;
    width:180px;
    color:#d84c31;
    white-space:nowrap;
    line-height:59px;
    text-shadow:0 2px 0 #fff,0 -2px 0 #f2f2ea
}
.page_navbar .page-navbar-warp .title h3{
     display:inline;
    min-width:100px;
    margin:0;
    line-height:59px;
    font-size:20px
}
.page_navbar .page-navbar-warp .title h3 a{
    color:#d84c31;
    padding:10px 15px;
    border-radius:5px;
    margin-left:-15px
}
.page_navbar .page-navbar-warp .title h3 a:hover{
    color:#d84c31;
    background:#f2f2ea
}
.page_navbar .page-navbar-warp .title .subtitle{
    display:none !important;
    display:inline-block;
    zoom:1;
    color:#222;
    min-height:25px !important;
    padding:3px 25px;
    border-left:solid 1px #e3e3e3;
    margin-left:20px
}
.page_navbar .page-navbar-warp .main{
    padding-top:10px;
    margin-left:180px
}

.layout_leftright{position:relative}
.layout_leftright .leftpanel{position:absolute;top:0;left:0;width:199px;margin-left:0;border-right:1px solid #e1e1e1;background:#f9f9f7;-webkit-box-shadow:0 0 3px #eee,inset 0 0 3px #fff;box-shadow:0 0 3px #eee,inset 0 0 3px #fff}.layout_leftright .leftpanel.collapse{position:absolute;width:20px;overflow:hidden;left:0;background:#ff0}
.layout_leftright .leftpanel.expand{position:relative}
.layout_leftright .leftpanel .switch{position:relative;width:10px;overflow:hidden;right:0;background:#ff0}
.layout_leftright .rightpanel{margin-left:200px}
.demo{
    position:relative;max-width:100%;
}
.height-nonav{overflow: auto}
.single-panel{background:#f9f9f7;overflow:hidden}
/*.single-panel .single-panel-inner{margin:30px auto;margin-bottom:50px;border:1px solid #e1e1e1;-webkit-box-shadow:0 0 3px #eee,inset 0 0 3px #fff;box-shadow:0 0 3px #eee,inset 0 0 3px #fff;background:#fbfbfb}*/
.single-panel .single-panel-inner h3,.single-panel .single-panel-inner h4{margin:0}
/*.single-panel .row div{background: #fff;}*/
.single-panel .row .aside{background: #fbfbfb;border-bottom:1px solid #d9d9d9;}
.single-panel .row .middle{background: #fff;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;overflow-y:auto;overflow-x:hidden;-webkit-box-shadow:inset 0px -3px 8px rgba(0,0,0,0.13);-moz-box-shadow:inset 0px -3px 8px rgba(0,0,0,0.13);box-shadow:inset 0px -3px 8px rgba(0,0,0,0.13)}
.single-panel .row .main{background: #fff;border-bottom:1px solid #d9d9d9;}

.aside .entry-new.entry-add{padding-top:10px;padding-left:15px;border:0;-webkit-box-shadow:0 0 0 #fff, inset 0 0 0 #FFF;box-shadow:0 0 0 #fff, inset 0 0 0 #FFF}
.aside .entry-new a.entry-add{display:block;border:dashed 1px #ddd;border-radius:3px;text-align:center;line-height:30px;width:100%;background:#f9f9f7;color:#bbb;font-size:16px}
.aside .entry-new a.entry-add:hover{border:dashed 1px #bfbfbf;color:#333;text-decoration:none;}

.middle .new-note-link{display:block;text-decoration:none;color:#d84c31;margin-top:10px;padding:5px 10px 5px 5px;font-size:15px;font-size:12px;font-weight:normal;line-height:20px}

.medias{border-top:1px solid #d9d9d9;padding:0px}
.middle .media {
  padding: 10px 5px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}
.middle .media:hover {
  background: #f9f9f7;
}
.middle .media-body h4 {
  font-size: 20px;
}
.middle .media-body .article-category {
  font-size: 18px;
  font-style: italic;
  color: #808080;
  margin: 0;
}
.middle .media-body .article-description {
  color: #333333;
  margin: 0;
}
.middle .media-body .article-date {
  color: #cccccc;
  margin-bottom: 5px;
}
.middle .media-body .label {
  border-radius: 0;
  padding: .1em .4em .1em;
  background: #808080;
}
.middle .media-heading {
  margin: 0;
}


ul.nav_listmenu{margin:0;padding:0}ul.nav_listmenu li.menu-star i{color:#ffd860}
ul.nav_listmenu li{list-style-type:none;line-height:48px}ul.nav_listmenu li:before,ul.nav_listmenu li:after{content:" ";display:table;}
ul.nav_listmenu li:after{clear:both}
ul.nav_listmenu li:before,ul.nav_listmenu li:after{content:" ";display:table;}
ul.nav_listmenu li:after{clear:both}
ul.nav_listmenu li.active a{color:#333 !important;background:#f2f2ea;border-radius:5px}
ul.nav_listmenu li.menu a{display:block;text-decoration:none;color:rgba(51,51,51,0.7);text-shadow:0 2px 0 #fff,0 -2px 0 #f2f2ea;font-size:14px;padding-left:1.5em;margin:10px 10px 0 10px}ul.nav_listmenu li.menu a:hover{color:#333;background:#f2f2ea;border-radius:5px}
ul.nav_listmenu li.menu a .new-item{color:#b3b3b3;position:relative;margin-right:10px;float:right}ul.nav_listmenu li.menu a .new-item:hover{color:#000}
ul.nav_listmenu li.menu a:hover .action{visibility:visible}
ul.nav_listmenu li.menu a .action{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);visibility:hidden;position:absolute;top:6px;right:0;color:#bfbfbf;padding:23px;display:block}ul.nav_listmenu li.menu a .action.openpop{visibility:visible}
ul.nav_listmenu li.menu a .action:hover{color:#000}
ul.nav_listmenu li.menu a .action.openpop{visibility:visible}
ul.nav_listmenu li.menu a .action:hover{color:#000}
ul.nav_listmenu li.menu a .action small:hover{color:#000}
ul.nav_listmenu li.iconmenu{line-height:150%}ul.nav_listmenu li.iconmenu a{display:block;color:rgba(51,51,51,0.7);text-shadow:0 2px 0 #fff,0 -2px 0 #f2f2ea;font-size:14px;padding-left:1.5em;text-indent:0;padding:10px 0;margin:15px 10px 0 10px;text-align:center}ul.nav_listmenu li.iconmenu a:hover{color:#333;background:#f2f2ea;border-radius:5px}
ul.nav_listmenu li.iconmenu a i{font-size:25px}
ul.nav_listmenu li.iconbtn{padding-left:8px}ul.nav_listmenu li.iconbtn a{display:inline-block;text-indent:0}
ul.nav_listmenu li.title{font-size:16.52px;text-indent:1.1em}ul.nav_listmenu li.title span{float:right !important;float:right;color:#b3b3b3;margin-right:20px}ul.nav_listmenu li.title span a{display:inline}ul.nav_listmenu li.title span a:hover{background:transparent}
ul.nav_listmenu li.divider-vertical{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;margin:0 10px}
