{% extends "layouts/base.html" %}

{% block content %}
    <div class="page-content" id="page-content">
    <div class="container">
        <div class="ui-categories">
            <div class="ui-categories-l">
                <div class="ui-categories-icon-1">筛选：</div>
            </div>
            <div class="ui-categories-r">
                <a href="/tejia">全部</a>
                <a href="/tejia">全部</a>
                <a href="/tejia">全部</a>
                <a href="/tejia">全部</a>
                <a href="/tejia">全部</a>
                <a href="/tejia">全部</a>
                <a href="/tejia">全部</a>
                <a href="/tejia">全部</a>
            </div>
        </div>
    </div> <!-- /container -->
    </div> <!-- /page-content -->
{% endblock %}