{% extends "layouts/base.html" %}

{% block content %}
    <div class="page-content" id="page-content">
        <div class="container">
            <div class="widget">
                <form id="login_form" action="." method="post">
                    {{ form.csrf_token }}
                    <div class="form-control">
                        <label class="control-label" for="name">用户名:</label>
                        <div class="controls">
                            <input type="text" class="form-input" id="name" name="name" placeholder="User Name">
                        </div>
                    </div>
                    <div class="form-control">
                        <label class="control-label" for="password">密码:</label>
                        <div class="controls">
                            <input type="password" class="form-input" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-control">
                        <div class="controls">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}